{% extends "notes/base.html" %}

{% block content %}
<main class="container">
  <form class="form-card" method="post">
    {% csrf_token %}
    <input
      class="form-card-title"
      type="text"
      name="titulo"
      placeholder="Título"
    />
    <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteúdo..."
    ></textarea>
    <input
      class="form-card-tag"
      type="text"
      name="tags"
      placeholder="Tags separadas por vírgula (opcional)"
    />
    <button class="btn" type="submit">Criar</button>
  </form>

  <div class="page-actions">
    <a class="btn" href="{% url 'tags' %}">Ver todas as tags</a>
  </div>

  <div class="card-container">
    {% for note in notes %}
    <div class="card">
      <h3 class="card-title">{{ note.title }}</h3>
      <div class="card-content">
        <p>{{ note.content }}</p>
      </div>
      <div class="card-tags">
        {% for tag in note.tags.all %}
        <a class="card-tag" href="{% url 'tag_detail' tag.id %}">{{ tag.name }}</a>
        {% endfor %}
      </div>
      <div class="card-actions">
        <a class="card-action" href="{% url 'edit' note.id %}" title="Editar anotação">editar</a>
        <a class="card-action" href="{% url 'delete' note.id %}" title="Apagar anotação">apagar</a>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
